.cache
.DS_Store
.git
Icon
.logins
.remote-sync.json

bower_components
node_modules

assets/avatars/**/*.jpg

content/**/*.gif
content/**/*.jpeg
content/**/*.jpg
content/**/*.png
content/**/*.txt

site/accounts/**/*.php

site/config/config.php

thumbs/**/*.gif
thumbs/**/*.jpeg
thumbs/**/*.jpg
thumbs/**/*.png

*.psd
*.zip
