.nav {

    li {

        a {
            @include transition;
            color: $white;
            padding: 10px 0;

            &:focus,
            &:hover {
                @include transition;
                background-color: $black;
            }
        }

        &.active {
            background-color: $black;
        }
    }

    .open > a,
    .open > a:focus,
    .open > a:hover {
        background-color: $black;
    }
}
